name: Deploy

on:
  push:
    branches:
      - main

env:
  DEBBY_DEV: "1"

permissions:
  contents: read

jobs:
  build:
    environment: prod
    env:
      SNOWSQL_USER: "${{ secrets.SNOWSQL_USER }}"
      SNOWSQL_PWD: "${{ secrets.SNOWSQL_PWD }}"
      SNOWSQL_DATABASE: "${{ secrets.SNOWSQL_DATABASE }}"
      SNOWSQL_ACCOUNT: "${{ secrets.SNOWSQL_ACCOUNT }}"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up python
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    
    - name: Set up
      run: bin/setup
  
    # TODO: we should add some failing models and tests to the build so that
    # the logs record those issues, and the demo shows how errors are handled.
    - name: Build
      run: bin/dbt build --target prod
